* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1F1F1F;
  font-family: 'Helvetica', sans-serif;
  color: #FFFCF2;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  position: relative;
  overflow: hidden; /* Prevent scroll bars if content overflows */
}

/* Menu */
.menu {
  position: absolute;
  left: 64px;
  top: 65px;
  font-size: 24px;
}

.menu-line {
  position: absolute;
  left: 131px;
  border: 3px solid #FFFCF2;
}

.menu-line1 {
  top: 77px;
  width: 15px;
}

.menu-line2 {
  top: 87px;
  width: 10px;
}

/* Circles */
.circle {
  position: absolute;
  border-radius: 50%;
}

.circle-large-red {
  width: 17.5vw; 
  height: 17.5vw;
  left: 56.7vw;
  top: 32.5vh;
  background: #F35858;
}

.circle-medium-yellow {
  width: 11.5vw;
  height: 11.5vw;
  left: 49vw;
  top: 14.7vh;
  background: #FFE68D;
}

.circle-medium-red {
  width: 7.75vw;
  height: 7.75vw;
  left: 30vw;
  top: 32.7vh;
  background: #F35858;
}

.circle-small-yellow {
  width: 7.75vw;
  height: 7.75vw;
  left: 57.7vw;
  top: 73.7vh;
  background: #FFE68D;
}

.circle-small-red {
  width: 4vw;
  height: 4vw;
  left: 81.4vw;
  top: 29.3vh;
  background: #F35858;
}

.circle-small-yellow2 {
  width: 4vw;
  height: 4vw;
  left: 86.8vw;
  top: 58.9vh;
  background: #FFE68D;
}

/* Bottom circles */
.bottom-circle {
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  background: #D9D9D9;
  border-radius: 50%;
}

.circle1 {
  left: 3.3vw;
  top: 87.6vh;
}

.circle2 {
  left: 6vw;
  top: 89.6vh;
}

.circle3 {
  left: 8.6vw;
  top: 89.6vh;
}

.circle4 {
  left: 11.3vw;
  top: 89.6vh;
}

/* Text */
.title {
  position: absolute;
  font-size: 5vw; 
  font-weight: 700;
  left: 13vw;
  top: 57vh;
  color: #F35858;
}

.subtitle {
  position: absolute;
  font-size: 3.3vw;
  font-weight: 700;
  left: 26.5vw;
  top: 66vh;
}

.name {
  position: absolute;
  font-size: 1.2vw;
  left: 13vw;
  top: 73.6vh;
}

/* Gaya untuk menu dan popup */
#menuButton {
  transition: background-color 0.3s ease;
}

#menuButton:hover {
  background-color: #4A5568; /* Darker shade of gray */
}

#popupMenu a {
  transition: background-color 0.3s ease;
}

#popupMenu a:hover {
  background-color: #2D3748; /* Darker shade of gray on hover */
}